<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chef Delivery Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      p.message {
        margin: 32px 0;
        font-family: inherit;
        font-size: 32px;
        font-weight: normal;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
      }
    </style>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>Message Of The Day</h1>
        <p class="message"><%= @message %></p>
        <p><a href="#" class="btn btn-primary btn-large">Get Delivery</a></p>
      </div>
      <hr>

      <footer>
        <p>&copy; 2008 – 2015 Chef Software, Inc. All Rights Reserved.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>

